<h1>Editing Staff Training Survey</h1>

<%= render 'form', staff_training_survey: @staff_training_survey %>

<%= link_to 'Show', @staff_training_survey %> |
<%= link_to 'Back', staff_training_surveys_path %>
