<h1>Editing Staff Training Event</h1>

<%= render 'form', staff_training_event: @staff_training_event %>

<%= link_to 'Show', @staff_training_event %> |
<%= link_to 'Back', staff_training_events_path %>
