<h1>Editing Enrollment Session Log</h1>

<%= render 'form', enrollment_session_log: @enrollment_session_log %>

<%= link_to 'Show', @enrollment_session_log %> |
<%= link_to 'Back', enrollment_session_logs_path %>
