<h1>PMMS Attendance, Reach and Dosage Reports</h1>
<table class="apa">
<tr>
<th>Provider</th>
<th>Program</th>
</tr>
<% @report_choices.each do |i| %>
  <% if i[:cids].empty? %>
  <tr>
    <td><%= i[:pid] %></td>
    <td>(None)</td>
  </tr>
  <% else %>
  <tr>
    <td><%= i[:pid] %></td>
    <td>
    <% i[:cids].each do |j| %>
      <%= link_to j, pmms_ard_program_path(pid: i[:pid], cname: j) %>
    <% end %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
