<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New PREP Cohort Activation</h1>
    <p><%= @coho_up.cohort.provider.long_name %><br />
    <%= @coho_up.cohort.name %><br />
    <%= @coho_up.cohort.extra_name %></p>
  </body>
</html>
